.member img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.member p {
  margin-top: 1em;
  font-size: 20px;
}