.heading {
  background-color: #fff;
}

.heading > p {
  width: fit-content;
  padding: 0.5em 3em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.info > div {
  display: inline-flex;
  flex-direction: column;
}

.progress {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 10em;
  justify-content: center;
  align-items: center;
}

.description p:nth-child(2) {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
