footer {
  width: 70%;
  margin: auto;
  border-top: 2px solid #ccc;
}

.f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer h6 {
  margin: 0.5em 0;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
}

.f input {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
